<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Blank default values (just for reference) -->
		<add key="filePath" value="FilePath"/>
		<add key="greaterWins" value="1"/>
		<!-- Blank default values (just for reference) -->
		<add key="senderEmail" value="senderemail"/>
		<add key="senderDisplayName" value="FirstName LastName"/>
		<add key="smsAccountSid" value ="smsAccountSid"/>
		<add key="smsAuthToken" value="smsAuthToken"/>
		<add key="smsFromPhoneNumber" value="smsFromPhoneNumber"/>
	</appSettings>
	<connectionStrings>
		<!-- Blank default values (just for reference) -->
		<add name="Tournaments" connectionString="Server=server;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<!-- Blank default values (just for reference) -->
				<network host="127.0.0.1" userName="UserName" password="password" port="port" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
